//- From node:
//- pageData.title: Sample Title
//- pageData.previous_page: previous page url
//- 
doctype html
html
    head
        block title
            title #{pageData.title}
            script(type='text/javascript').
                function go_back() {
                    window.history.back();
                }
    body
        block content
        
        block bottom
            br
            br
            a(href='browser?get=' + pageData.previous_page) back
            //a(href=javascript:go_back()) back