//- From node:
//- pageData.title: Sample Title
//- pageData.mp4: /path/to/mp4/file
//- pageData.ogg: /path/to/ogg/file
//- pageData.webm: /path/to/webm/file
//-
extends ./layout.jade

block content
    //player container
    div(width="860", tabindex="1", onkeydown="keypress()")
        video(id="video", width="860", height="540", controls)
            //Video
            source(src='/streaming?get=' + pageData.mp4, type="video/mp4")
            source(src='/streaming?get=' + pageData.ogg, type="video/ogg")
            source(src='/streaming?get=' + pageData.webm, type="video/webm")
            
            //Subtitle
            track(src='/streaming?get='  + pageData.sub, kind="subtitles", srclang="en", label="English")
            
            // Not supported
            Your browser does not support HTML5 video.
        br
    
    //Javascript
    script.
        function keypress (event) {
            event = event || window.event; // get the event (for compatibility)
            if (event.which == 32) {
                // if it is a space, play/pause the video
                var isPaused = document.getElementById("video").paused; 
                if (isPaused)
                    document.getElementById("video").play();
                else
                    document.getElementById("video").pause();
            }
        }